{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <h1>Inscription</h1>

        {{ form(registrationForm) }}


        <br/>

        <a href="{{path('app_login')}}" class="">Vous avez déja un compte ?!, connectez Vous</a>
    </div>


{% endblock %}